html {
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    font-size: calc(.7em + 1vw);
    margin: 0;
    padding: 0;
    background: #eee;
}
body {
    min-width: 330px;
    width: 60vw;
    margin: 1em auto;
}
ul {
    margin: 0;
}
p, li {
    font-size: .9em;
    line-height: 1.2;
    padding:0 .5em .5em .5em;
    margin: 0;
    list-style: square;
}
p:first-of-type {
    padding-top: 1em;
}

h1 {
    background: #eee;
    padding: 1em 0 0 0;
    border-bottom: 5px solid #369;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
}
h2 {
    margin: 0;
    color: #369;
    padding: .2em .5em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
}
section {
    background: #fff;
    display: block;
    margin: 0;
    padding: 0;
}
#buttons a {
    background: #369;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 1em;
}
#buttons a.is-success {
    background: #396;
}
#buttons a.is-primary {
    background: #936;
}
#buttons {
    text-align: center;
    margin: 1em 0;
    padding-bottom: 3em;
}
button {
    border: none;
    padding: .5em;
    background: #369;
    color: #fff;
    font-size: 0.8em;    
}
